body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    padding: 0 2%;
    margin: 0;
    font-size: 10pt;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1ex;
    margin: 1ex 0;
    width: 620px;
    max-width: 90%;
}

.field {
    margin: 1ex 1em;
}

.field-quantity {
    flex-grow: 0;
    display: flex;
}

.field span {
    width: 4em;
}

.field-quantity input {
    width: 3em;
}

.field-address {
    flex-grow: 2;
    display: flex;
}

.field-address input {
    flex-grow: 2;
}

.field-notes {
    flex-grow: 2;
    display: flex;
}

.field-notes input {
    flex-grow: 2;
}


#map-node {
    height: 480px;
    width: 640px;
    max-width: 96%;
}

table {
    margin: 2ex 0;
    border-collapse: collapse;
    width: 640px;
    max-width: 96%;
}

th, td {
    padding: 1ex;
    border: 1px solid black;
}


td.num, td.quantity {
    text-align: center;
}
