body {
    font-family: Arial, sans-serif;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1ex;
    padding: 0;
}

.field {
    margin: 1ex 1em;
}

.field-quantity {
    flex-grow: 0;
    display: flex;
}

.field span {
    width: 4em;
}

.field-quantity input {
    width: 3em;
}

.field-address {
    flex-grow: 2;
    display: flex;
}

.field-address input {
    flex-grow: 2;
}

.field-notes {
    flex-grow: 2;
    display: flex;
}

.field-notes input {
    flex-grow: 2;
}


#map-node {
    height: 480px;
    width: 640px;
}

#route-node .address {
    font-weight: bold;
}

#route-node .notes:before {
    content: "Notes: ";
    font-weight: bold;
}

#route-node .notes {
    font-style: italic;
    font-size: smaller;
    color: #888888;
}

.leaflet-div-icon {
background: transparent;
border: none;
}
.leaflet-marker-icon .number{
position: relative;
top: -37px;
font-size: 12px;
width: 25px;
text-align: center;
}
